body .text0 {
    font-size: x-small;
}

body .text1 {
    font-size: small;
}

body .text2 {
    font-size: medium;
}

body .text3{
    font-size: large;
}

body .text4 {
    font-size: x-large;
}

body .text5 {
    font-size: xx-large;
}
